.App {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 5vh;
  overflow: hidden;
  user-select: none;
  text-align: center;
  width: 500px;
}

.Button {
  cursor: pointer;
  height: 100vh;
  position: absolute;
  width: 50vw;
}

.Button:hover {
  box-shadow: 0 0 10vmin black inset;
  color: red
}

#noRep {
  left: 50vw;
}

.students {
  font-size: 10vh;
}